/* Styling for the Navigator app */

#task-selection {
    width: 20%; /* Adjust as needed */
    dock: left;
    border-right: round $primary;
}

#grid-display {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#grid-container {
    width: auto;
    grid-rows: auto;
    grid-columns: auto;

    grid-gutter: 1;  /* Spacing between grid cells */
}

